* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  line-height: 54px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
}

#announcements {
  display: flex;
  align-items: center;
  background-color: aquamarine;
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 400px;
}

#nav-bar li {
  list-style: none;
  padding: 0px 20px;
  position: relative;
}

#nav-bar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #465b52;
  transition: 0.5s ease;
}

#nav-bar li a:hover,
#nav-bar li a.active {
  color: #222;
}

#nav-bar li a.active::after {
  content: "";
  width: 50%;
  height: 2px;
  background: #222;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#headlines {
  margin-right: 500px;
}

#home {
  text-align: center;
}

#shops {
  text-align: center;
}

#shops .p-active {
  display: none;
}

#shops span:hover + .p-active {
  display: block;
}

#shops .shop-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

#shops .active:hover {
  border: 8px solid #465b52;
}

#shops .active,
#shops .inactive {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px 20px;
  transition: 0.2s ease;
}

#home .inv-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  margin-bottom: 100px;
}

#home .inv-container-row {
  display: flex;
  justify-content: center;
  gap: 100px; /* spacing between each stat column */
}

#home .stat {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

#home .ammount {
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
}

#current-cards {
  text-align: center;
}

#current-cards .cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 200px;
}

#current-cards .cards {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px 20px;
}

#current-cards .cards img {
  width: 200px;
  height: 200px;
}

#current-cards .cards-desc {
  margin-top: 10px;
}
